# Python / Cache
src/__pycache__/
__pycache__/
*.py[cod]
*$py.class

# Môi trường ảo (Virtual environments)
venv/
env/
.env

# Dữ liệu & AI Models (KHÔNG đưa lên GitHub)
dataset/
models/
logs/

# IDE & Hệ điều hành
.vscode/
.idea/
.DS_Store
Thumbs.db
